PORT=3000
HOST=0.0.0.0

DB_HOST=127.0.0.1
DB_PORT=3306

DB_USER=campusquest
DB_PASSWORD=campusquest_password
DB_NAME=campusquest

MYSQL_ROOT_PASSWORD=campusquest_root_password

DB_CONNECT_RETRIES=30
DB_CONNECT_RETRY_DELAY_MS=2000

SESSION_SECRET=change_me